<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https:http://lorempixel.com/400/400');">
  <div class="card-body">
  <h2><%= cocktail.name%></h2>
  <%= link_to 'show', cocktail_path(cocktail)%>
  <%= link_to 'edit', new_cocktail_path%>
</div>
</div>
